/* custom styles for right sidebar */
.container.extended {
    @media (min-width: 768px) {
        --right-sidebar-max-width: 15%;
    }

    @media (min-width: 1024px) {
        --right-sidebar-max-width: 15%;
    }

    @media (min-width: 1280px) {
        --right-sidebar-max-width: 15%;
    }
}
